@import url(keyframes.css);

body {
    /* background-image: url("/img/img01.jpg"); */
    background-color: #222;
    background-size: cover;
}

/* skip menu */
#skip_menu a {
    background-color: black;
    font-size: .8vw;
    padding: .5vw;
    border: 1px solid #fff;
    color: #fff;
    position: fixed;
    top: -100%;
    left: 0;
}
#skip_menu a:focus, #skip_menu a:active {
    top: 0;
}

/* header */
header {
    position: fixed;
    width: 95vw;
    margin: 2.5vw;
}
#main_head {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    /* z-index: 101; */
}
#main_head #logo_icon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
.site_logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    text-align: center;
    border-radius: 100%;
}
.site_logo em {
    font-weight: bold;
    font-size: 21px;
    color: #fff;

}
.site_logo em::before {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 17px;
}
.site_logo em::after {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
}
#main_head nav ol {
    display: flex;
}
#main_head nav ol li {
    margin-right: 40px;
    font-size: 15px;
    color: #aaa;
    line-height: 1;
}
#main_head nav ol li a {
    display: block;
    font-size: 18px;
    color: #fff;
    transition: all .3s;
}
#main_head nav ol li a:hover {
    text-decoration: none;
    transform: scale(1.1);
}
#side_head {
    box-sizing: border-box;
    width: 90px;
    height: 78vh;
    border: 1px solid #333;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    /* z-index: 100; */
    margin-top: -.5px;
}
#side_head #yIndex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding-top: 25px;
    color: #fff;
}
#side_head #yIndex em {
    font-weight: bold;
    font-size: 27px;
    width: 20px;
    word-break: break-all;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    padding-top: 15px;
}
#side_head .profiles {
    padding-bottom: 15px;
}
#side_head .profiles li {
    margin-bottom: 10px;
}
#side_head .profiles a {
    color: #fff;
    font-size: 24px;
}

/* main */
main {
    margin-left: 15vw;
    padding-top: 35vh;
    margin-right: 10vw;
    background-color: rgba(50, 50, 50, .5)
}
main section article {
    padding-top: 300px;
}
main section article h3{
    font-size: 100px;
    color:#fff;
    font-weight: bold;
}
main section article p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
    font-weight: bold;
}
/* about */
#about .welcome {
    padding-top: 0;
}
#about .welcome h3 span {
    font-weight: lighter;
}
#about .self_desc h4 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 2;
    color: #fff;
    font-weight: bold;
}
#about .self_desc p {
    word-break: break-all;
}
#about .self_desc figure {
    width: 20vw;
    overflow: hidden;
    float: right;
    margin-top: 30px;
    margin-left: 30px;
}
#about .self_desc figure img {
    width: 120%;
    position: relative;
    left: -10%;
    z-index: -1;
}
#about .skills {
    padding-top: 50px;
}
#about .skills h3 {
    font-size: 70px;
    font-weight: normal;
}
#about .skills ul {
    display: flex;
    width: 100%;
}
#about .skills li {
    width: 20%;
    height: 400px;
}
#about .skills li > div {
    position: relative;
    width: 14vw;
    height: 14vw;
    margin: auto;
}
#about .skills li > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
#about .skills li > h4 {
    text-align: center;
    color: #fff;
    font-size: 21px;
    padding-top: 50px;
}
#about .skills li > h4 > span {
    display: block;
    font-size: 43px;
    font-weight: bold;
    padding-bottom: 10px;
}
#about .skills .html > div > .crlc1 {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}
#about .skills .html > div > .crlc2 {
    width: 60%;
    height: 60%;
    border: 2px solid #fff;
}
#about .skills .html > div > .crlc3 {
    width: 85%;
    height: 85%;
    border: 5px solid #fff;
    animation: skills_html 3s ease-in infinite;
}
#about .skills .css > div > .crlc1 {
    width: 65%;
    height: 65%;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    transform: translate(0, 0);
    animation: skills_css 2s linear infinite alternate;
}
#about .skills .css > div > .crlc2 {
    width: 65%;
    height: 65%;
    top: 35%;
    left: 0;
    border: 2px dashed #fff;
    transform: translate(0, 0);
    animation: skills_css 2s linear infinite alternate-reverse;
}
#about .skills .js > div > .crlc1 {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}
#about .skills .js > div > .crlc2 {
    width: 50%;
    height: 50%;
    border: 2px dashed #fff;
    animation: skills_js 1.7s ease-in-out infinite alternate backwards;
}
#about .skills .js > div > .crlc3 {
    width: 20%;
    height: 20%;
    border: 2px dashed #fff;
    animation: skills_js 1.7s ease-in-out infinite alternate backwards;
}
#about .skills .php > div,
#about .skills .react_vue > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#about .skills .php > div > div,
#about .skills .react_vue > div > div{
    top: auto;
    left: auto;
    transform: translate(0,0);
    width: 60%;
    height: 60%;
    border: 2px dashed #fff;
}
#about .skills .php > div > .crlc1 {
    animation: skills_php1 2s linear infinite alternate;
}
#about .skills .php > div > .crlc2 {
    animation: skills_php2 2s linear infinite alternate;
}
#about .skills .php > div > .crlc3 {
    animation: skills_php3 2s linear infinite alternate;
}
#about .skills .react_vue > div > .crlc1 {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}
#about .skills .react_vue > div > .crlc2 {
    width: 35%;
    height: 35%;
    border: 2px solid #fff;
}
#about .skills .react_vue > div > .crlc3 {
    width: 45%;
    height: 45%;
    animation: skills_rv 4s linear infinite;
}
#about .skills .react_vue > div > .crlc4 {
    width: 90%;
    height: 90%;
    animation: skills_rv 4s linear infinite;
}







